<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/s6yh3dcj5p95rrh/Smart%20Viewer.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/htn212hj6j7a0dz/iOS_58.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/wbtdbjy4q6mm0z9/iOS_76%402x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.lsis.smartviewer</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Smart Viewer</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/wjgdyw734m8ithw/Smart%20Viewer-5C6709AD-C479-47F7-859B-5E7809E742B9.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone10,1</string>
						<string>iPhone8,1</string>
						<string>iPhone9,3</string>
						<string>iPhone6,2</string>
						<string>iPhone9,1</string>
						<string>iPhone7,2</string>
						<string>iPod7,1</string>
						<string>iPhone10,4</string>
						<string>iPhone8,4</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/a57dp9enixscx5l/Smart%20Viewer-91BCAA03-87C6-4185-A3A6-8C21FE1A9F78.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/pz579o6ufu9vps5/Smart%20Viewer-B46F6E57-D169-491E-9678-2DA655FF54F7.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone5,2</string>
						<string>iPod5,1</string>
						<string>iPhone5,3</string>
						<string>iPhone4,1</string>
						<string>iPhone5,1</string>
						<string>iPhone5,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/0edvybi1yxvx0ls/Smart%20Viewer-D9484944-5D98-4591-A7A2-DAE67F555AFB.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone7,1</string>
						<string>iPhone10,2</string>
						<string>iPhone11,4</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone11,2</string>
						<string>iPhone8,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/tcbcn8w3rdayarn/Smart%20Viewer-5A58ECC7-44E1-4277-BF8C-FB9609DD5CF3.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/1koqpv3710prjjc/Smart%20Viewer-78724EED-0A11-4661-A7B9-10EC515202AD.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/s/oy1qf05drtcohhk/Smart%20Viewer-029ED175-2BC6-477D-BAFA-AB7D7487BA26.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad4,5</string>
						<string>iPad11,4</string>
						<string>iPad5,2</string>
						<string>iPad6,11</string>
						<string>iPad8,5</string>
						<string>iPad7,2</string>
						<string>iPad4,4</string>
						<string>iPad11,1</string>
						<string>iPad6,4</string>
						<string>iPad5,1</string>
						<string>iPad4,9</string>
						<string>iPad8,4</string>
						<string>iPad7,1</string>
						<string>iPad4,3</string>
						<string>iPad7,6</string>
						<string>iPad6,3</string>
						<string>iPad11,3</string>
						<string>iPad4,8</string>
						<string>iPad8,3</string>
						<string>iPad6,8</string>
						<string>iPad8,8</string>
						<string>iPad4,2</string>
						<string>iPad7,5</string>
						<string>iPad4,7</string>
						<string>iPad8,2</string>
						<string>iPad6,7</string>
						<string>iPad6,12</string>
						<string>iPad8,7</string>
						<string>iPad4,1</string>
						<string>iPad5,4</string>
						<string>iPad7,4</string>
						<string>iPad4,6</string>
						<string>iPad8,1</string>
						<string>iPad11,2</string>
						<string>iPad5,3</string>
						<string>iPad8,6</string>
						<string>iPad7,3</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
